<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="SMC Hermes Agent"
    Version="$(var.BundleVersion)"
    Manufacturer="SMC"
    UpgradeCode="5c8a2e1d-7b4f-4a91-9e3c-1d2b3c4e5f60"
    Compressed="yes">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        LicenseUrl="https://superic.com/"
        Theme="hyperlinkLicense" />
    </BootstrapperApplication>
    <Chain>
      <MsiPackage
        Id="SmcHermesAgentMsi"
        SourceFile="$(var.MsiPath)"
        Vital="yes"
        Compressed="yes"
        Visible="no" />
    </Chain>
  </Bundle>
</Wix>
