SALT_BIND_IP=0.0.0.0
SALT_VERSION=3008.2
SMC_SALT_CONTROL_VERSION=1.0.0

POSTGRES_IMAGE=pgvector/pgvector:pg17
POSTGRES_DB=salt_control
POSTGRES_USER=salt_control

SALT_PUBLIC_HOST=salt.superic.com
SALT_API_PUBLIC_URL=https://salt.superic.com:8000
SALT_CONTROL_PUBLIC_URL=https://salt.superic.com:8770
SALT_API_USERNAME=salt_control
SALT_MASTER_FINGERPRINT=sha256:REPLACE_WITH_MASTER_FINGERPRINT

OIDC_ISSUER=https://REPLACE_WITH_OIDC_ISSUER
OIDC_AUDIENCE=salt-control
OIDC_JWKS_URL=https://REPLACE_WITH_OIDC_JWKS_URL
MANAGEMENT_BACKEND_URL=https://REPLACE_WITH_MANAGEMENT_BACKEND
ARTIFACT_STORE_URL=https://REPLACE_WITH_ARTIFACT_STORE
SECRET_PROVIDER_URL=https://REPLACE_WITH_SECRET_PROVIDER
ARTIFACT_KEY_ID=REPLACE_WITH_ED25519_KEY_ID
